<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.test.mapper.AdminMapper">
  <!-- 모든 유저 조회 -->
  <select id="allUser" resultType="UserVO">
	select *
	from tbl_user
	where adminCheck!='Y'
  </select>
  
  <!-- 유저 삭제 -->
  <delete id="deleteUser">
  	delete from tbl_user
  	where email=#{email}
  </delete>
  
  <!-- 타이틀 추가 -->
  <insert id="insertTitle">
  	insert into tbl_boardtitle(num,title,title_img)
  	values(boardtitle_seq.nextval,#{title},#{title_img})
  </insert>
  
  <!-- 타이틀 조회 -->
  <select id="readTitle" resultType="BoardTitleVO">
  	select *
  	from tbl_boardtitle
  </select>

  <!-- 타이틀 수정 -->
  <update id="modifyTitle">
  	update tbl_boardtitle
  	set title=#{title},title_img=#{title_img}
  	where num=#{num}
  </update>
  
  <!-- 타이틀 삭제 -->
  <delete id="deleteTitle">
  	delete from tbl_boardtitle
  	where title=#{title}
  </delete>
  
  <!-- 타이틀 이미지 수정 -->
   <update id="modifyTitleImg">
  	update tbl_boardtitle
  	set title_img=#{title_img}
  	where num=#{num}
  </update>
  
  
</mapper>