<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.test.mapper.UserMapper">

<!-- 회원가입-->
	<insert id="joinMembership">
		insert into tbl_user(email,upw,nickname,name,phone)
		values(#{email},#{upw},#{nickName},#{name},#{phone})
	</insert>
	
<!-- 닉네임 중복 확인 -->
     <select id="nickNameCheck" resultType="UserVO">
     	select email
     	from tbl_user
     	where nickname=#{nickName}
     </select>
     
<!-- 이메일 중복 확인 -->
	  <select id="emailCheck" resultType="UserVO">
     	select email
     	from tbl_user
     	where email=#{email}
     </select>
     
 <!-- 로그인 -->    
     <select id="login" resultType="UserVO">
		select *
		from tbl_user
		where email=#{email} and upw=#{upw}
     </select>
<!-- 회원정보 수정 -->
	<update id="modifyUser">
	  update tbl_user
	  set nickname=#{nickName},phone=#{phone},upw=#{upw}
	  where email=#{email}
	</update>

<!-- 회원 이미지 수정 -->
	<update id="modifyUserImage">
		update tbl_user
		set user_image=#{user_image}
		where email=#{email}
	</update>
	
<!-- 아이디 찾기 -->
 	<select id="findEmail" resultType="String">
 	<![CDATA[select rpad(substr(email,0,instr(email,'@')-5),instr(email,'@')-1,'*')||substr(email,instr(email,'@'),length(email))]]>
 		from tbl_user
 		where name=#{name} and phone=#{phone}
 	</select>
 
 <!-- 비밀번호 찾기 회원 등록 여부 확인-->
	<select id="findPwd" resultType="UserVO">
      select *
      from tbl_user
      where email=#{email} and name=#{name} and phone=#{phone}
	</select>

<!-- 패스워드 변경 -->
	<update id="modifyPwd">
		update tbl_user
		set upw=#{upw}
		where email=#{email} 
	</update>
	
<!-- 구독자 수 증가 -->
<update id="incBoardTitle">
	update tbl_boardtitle
	set readUser_cnt=readUser_cnt+1
	where title=#{title}
</update>

</mapper>








