@charset "UTF-8";

.adminSidebar{
	padding-top: 50px;
	border-right: 1px solid #E6E6E6;
}
.flex-column a{
	color: black;
}
.table{
	margin-top: 60px;
}
.addTitle{
	margin-left: 10px;
}
.modifyAdminTitle{
   margin-left: 20px;
}
.modifyTitle{
	border: none;
}
.modifyTitleDiv1 ,.modifyTitleDiv2{
	float: right;
	margin-right: 50px;
	display: inline-block;
}
.inputShowCss{
	border: 1px solid #E6E6E6;
}
.inputHideCss{
	border:none;
}
.modifyTitleModal_TitleButton4{
	margin-left: 10px;
}
.form-inline{
	margin-bottom: 30px;
}
.modifyTitleModal_ImgGo{
	width: 300px;
}
.flex-xl-nowrap{
	min-height: 600px;
}