@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Jua');

body, html {
	width: 100%;
	margin: 0;
}

.logo {
	height: 40px;
	vertical-align: middle;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/*  */
.menubar {
	width: 100%;
	height: 50px;
	border-bottom: 1px #E6E6E6 solid;
	font-family: 'Jua', sans-serif;
	display: flex;
	align-items: center;
}

.titleUl {
	width: 100%;
}

.titleUl a {
	color: black;
}

.titleUl ul {
	margin-top: 50%;
	margin-bottom: 50%;
}

.menubar ul li {
	display: inline-block;
	font-size: 18px;
	margin-left: 50px;
	margin-right: 40px;
}

.menubar a {
	width: 5%;
}

.menubar a img {
	width: 60%;
}

.search_selected {
	width: 20%;
	text-align: center;
	margin-left: 1%;
	font-size: 20px;
}

/* footer */
.main_footer {
	border-top: 1px solid #E6E6E6;
	width: 100%;
	text-align: center;
}

.main_footer span {
	font-size: 12px;
	margin-top: 10px;
}

.main_div {
	background-color: #f9f9f9;
	text-align: center;
}

.button-previous {
	float: left;
	margin-left: 2%;
}

.button-next {
	float: right;
	margin-right: 2%;
}

.user_image {
	background-color: white;
	border: 1px solid #E6E6E6;
	border-radius: 50%;
}

.userImageLi {
	padding-left: 10%;
}

.nav-item a {
	color: white;
}

.carousel-inner>.carousel-item>img {
	top: 0;
	left: 0;
	min-width: 100%;
	height: 400px;
	min-height: 400px;
}

#carouselExampleIndicators {
	border-bottom: 1px solid #E6E6E6;
}

.nickNameCheck {
	float: right;
}

.imageCheck {
	margin-left: 5%;
}

.userImage {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.findUserInfo {
	width: 100%;
}

.findUserInfo a {
	float: left;
}

.findUserInfo a:nth-child(2), .findUserInfo a:nth-child(3) {
	margin-left: 3%;
}
.topHeader{
  text-align: center;
  width: 100%;
  height: 250px; 
  border-bottom: 1px solid #E6E6E6;
  background-color: #800080;
}
.topHeaderMiddle{
  position: absolute;
  width: 100%;
}
.topHeader input{
	height: 43px;
	width: 40%;
	vertical-align: middle;	
	border-radius: 5px;
    padding: 15px;
    border: none;
	
}
.topHeaderTitle span{
	font-size: 60px;
	font-weight: bold;
	color: white;
    vertical-align: middle;
    margin-left: 1%;
}
.topHeaderTitle img{
	top: 50%;
	bottom: 50%; 
}
.topHeaderTitle2{
	margin-top: 10px;
}
.boardSet{
	margin-right: 20px;
}
